.team-container {
    width: 100%;
}

.team-avg {
    width: 100%;
    text-align: center;
    border: 1px solid red;
    height: 24px;
    font-size: 22px;
    font-weight: 800;
    color: #FF5500;
}